@tailwind base;
@tailwind components;
@tailwind utilities;

.baner{
    margin-top: 100px;
}

body{
    background-color: #fffffa;
    height: 100.001vh;
}

.emoji{
    color: transparent;  
  text-shadow: 0 0 0 rgb(75, 148, 231);
}

#chat::-webkit-scrollbar{
    display: none;
}

#chat{
    -ms-overflow-style: none;
    scrollbar-width: none;
}